html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background-color: #ffffff;
    /*from heropatterns.com*/
    background-image: url("images/bkg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #000;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container{
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text{
    font-size: 2.75rem;
}

.long-quote{
    font-size: 2rem;
}

.fa-quote-left{
    font-size: 4rem;
}

.quote-author{
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
}

.button-container{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#new-quote{
    margin-top: 18px;
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #333;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgb(121, 121, 121);
}

#new-quote:hover{
    filter: brightness(110%)
}

#new-quote:active{
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba( 255, 255, 255, 0.65);
}

a{
    width: 80px;
    height: 80px;
    background-color: #333;
    text-align: center;
    line-height: 85px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #333;
    z-index: 1;
}

a .icon{
    position: relative;
    color: #fff;
    transition: .5s;
    z-index: 3;
}

a:hover .icon {
    color: #262626;
    transform: rotateY(360deg);
}

a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #55acee;
    transition: .5s;
    z-index: 2;
}

a:hover:before {
    top: 0;
}


/*Loader*/
#inTurnBlurringTextG{
	width:125px;
	margin:auto;
}

.inTurnBlurringTextG{
	color:transparent;
	font-family:Arial;
	font-size:28px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	text-shadow: rgb(0,0,0) 0 0 0;
	animation-name:bounce_inTurnBlurringTextG;
		-o-animation-name:bounce_inTurnBlurringTextG;
		-ms-animation-name:bounce_inTurnBlurringTextG;
		-webkit-animation-name:bounce_inTurnBlurringTextG;
		-moz-animation-name:bounce_inTurnBlurringTextG;
	animation-duration:0.541s;
		-o-animation-duration:0.541s;
		-ms-animation-duration:0.541s;
		-webkit-animation-duration:0.541s;
		-moz-animation-duration:0.541s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#inTurnBlurringTextG_1{
	animation-delay:0.1925s;
		-o-animation-delay:0.1925s;
		-ms-animation-delay:0.1925s;
		-webkit-animation-delay:0.1925s;
		-moz-animation-delay:0.1925s;
}
#inTurnBlurringTextG_2{
	animation-delay:0.229s;
		-o-animation-delay:0.229s;
		-ms-animation-delay:0.229s;
		-webkit-animation-delay:0.229s;
		-moz-animation-delay:0.229s;
}
#inTurnBlurringTextG_3{
	animation-delay:0.2755s;
		-o-animation-delay:0.2755s;
		-ms-animation-delay:0.2755s;
		-webkit-animation-delay:0.2755s;
		-moz-animation-delay:0.2755s;
}
#inTurnBlurringTextG_4{
	animation-delay:0.312s;
		-o-animation-delay:0.312s;
		-ms-animation-delay:0.312s;
		-webkit-animation-delay:0.312s;
		-moz-animation-delay:0.312s;
}
#inTurnBlurringTextG_5{
	animation-delay:0.3485s;
		-o-animation-delay:0.3485s;
		-ms-animation-delay:0.3485s;
		-webkit-animation-delay:0.3485s;
		-moz-animation-delay:0.3485s;
}
#inTurnBlurringTextG_6{
	animation-delay:0.385s;
		-o-animation-delay:0.385s;
		-ms-animation-delay:0.385s;
		-webkit-animation-delay:0.385s;
		-moz-animation-delay:0.385s;
}
#inTurnBlurringTextG_7{
	animation-delay:0.4315s;
		-o-animation-delay:0.4315s;
		-ms-animation-delay:0.4315s;
		-webkit-animation-delay:0.4315s;
		-moz-animation-delay:0.4315s;
}




@keyframes bounce_inTurnBlurringTextG{
	0%{
		text-shadow: rgb(0,0,0) 0 0 0;
	}

	100%{
		text-shadow: rgb(255,255,255) 0 0 19px;
	}
}

@-o-keyframes bounce_inTurnBlurringTextG{
	0%{
		text-shadow: rgb(0,0,0) 0 0 0;
	}

	100%{
		text-shadow: rgb(255,255,255) 0 0 19px;
	}
}

@-ms-keyframes bounce_inTurnBlurringTextG{
	0%{
		text-shadow: rgb(0,0,0) 0 0 0;
	}

	100%{
		text-shadow: rgb(255,255,255) 0 0 19px;
	}
}

@-webkit-keyframes bounce_inTurnBlurringTextG{
	0%{
		text-shadow: rgb(0,0,0) 0 0 0;
	}

	100%{
		text-shadow: rgb(255,255,255) 0 0 19px;
	}
}

@-moz-keyframes bounce_inTurnBlurringTextG{
	0%{
		text-shadow: rgb(0,0,0) 0 0 0;
	}

	100%{
		text-shadow: rgb(255,255,255) 0 0 19px;
	}
}

/* Media Queries: Tablet or Smaller*/
@media screen and (max-width: 1000px){
    .quote-container{
        margin: auto 10px;
    }
    .quote-text{
        font-size: 2.5rem;
	}
}
